@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body, #root {
    @apply bg-[#0C0C0C] text-[#D7E2EA] font-sans antialiased;
    width: 100%;
    min-height: 100vh;
  }

  html {
    scroll-behavior: smooth;
  }

  [id] {
    scroll-margin-top: 100px;
  }

  /* .hero-heading gradient text */
  .hero-heading {
    background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
